:root {
  --background-color: rgb(15 23 42);
  --text-color: rgb(248 250 252);
  --grey-text-color: rgb(150 150 150);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
body textarea {
  resize: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
/* Styling of h1, h2, h3, h4, h5, h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--background-color);
}
/* Styling of login and sign up page */
.loginPage,
.signupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}
/* Styling of login and sign up container */
.loginContainer,
.signupContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
}
/* Styling of login and sign up form */
.loginContainer form,
.signupContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Styling of login and sign up form heading and paragraph */
.loginContainer h1,
.signupContainer h1 {
  margin-bottom: 20px;
  color: var(--background-color);
  text-align: center;
}

.loginContainer p,
.signupContainer p {
  margin-bottom: 20px;
  color: var(--grey-text-color);
  text-align: center;
}
/* Styling of login and sign up form input and button */
.loginContainer input,
.loginContainer button,
.signupContainer input,
.signupContainer button {
  width: 330px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Styling of login and sign up form input and button on focus and hover */
.loginContainer input:focus,
.signupContainer input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.loginContainer button,
.signupContainer button {
  width: 350px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--background-color);
  color: var(--text-color);
}
.loginContainer button:hover,
.signupContainer button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}
.loginContainer button:active,
.signupContainer button:active {
  transform: scale(0.95);
}
/* Styling of login and sign up form paragraph */
.loginContainer p a,
.signupContainer p a {
  color: var(--background-color);
  text-decoration: none;
  transition: 0.3s;
  font-weight: bolder;
}

/* styling of Nav */
nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Stick to the top */
  z-index: 1; /* Stay on top of everything */
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  transition: 0.3s;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 5%;
}

.mainLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.logoutBTN {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 20px;
}

/* styling of gatheringsForm */
.createGathering {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  background-color: var(--text-color);
}
.gatheringsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
}

.fieldset {
  border: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey-text-color);
}
.fieldset h1 {
  color: var(--background-color);
  font-size: 20px;
}

.fieldset input,
textarea {
  width: 380px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: var(--text-color);
  color: var(--grey-text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fieldset input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dateAndTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dateAndTime input {
  width: 100px;
  margin: 10px 0;
}
.dateAndTime div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.fieldset img {
  width: fit-content;
  height: auto;
  max-width: 400px;
  max-height: 300px;
}

.fieldset button {
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.fieldset button:active,
.fieldset input::file-selector-button:active {
  transform: scale(0.95);
}

.fieldset input::file-selector-button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* Styling of display gatherings and a single gathering card */

.displayPage {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--text-color);
  color: var(--background-color);
}

.displayGatherings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

/* styling of the individual cards */
.gatheringCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 425px;
}

/* styling of the gatheringCardHeader */
.gatheringCardHeader {
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px 10px 0 0;
  max-height: 250px;
  overflow: hidden;
}

.gatheringCardHeader img {
  height: auto;
  width: 400px;
  max-height: 300px;
  margin: 0;
  padding: 0;
}

.gatheringCardHeaderInfo {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin: 0;
  border-radius: 10px 0 0 0;
  color: var(--text-color);
}
.gatheringCardHeaderInfo p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.gatheringCardHeaderInfoText {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  min-height: 125px;
  margin: 0;
  padding: 20px 10px;
  background-color: var(--background-color);
}

.gatheringCardHeaderInfoText img {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
}

/* styling of 45 degree pip */
.gatheringCardHeaderInfoPips {
  display: absolute;
  z-index: -2;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.pip {
  position: relative;
  z-index: 1;
  top: -35%;
  width: 70px;
  height: 70px;
  rotate: 45deg;
  background-color: var(--background-color);
}

/* styling of gatheringCardContent */
.gatheringCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
  color: var(--background-color);
  width: calc(100% - 40px);
}

.gatheringTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--background-color);
}

.gatheringDescription {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  height: 50px;
}

.gatheringLocation {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.gatheringAt {
  font-weight: bold;
  margin-right: 5px;
}

.gatheringPlace {
  font-weight: normal;
}

.gatheringTimes {
  display: flex;
  justify-content: space-between;
}

.gatheringStartTime,
.gatheringEndTime {
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gatheringTimeSeparator {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
